body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: 15px;
}

.logoImg {
  height: 40px;
}

#indexBody {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1556056504-5c7696c4c28d') !important;
  background-size: cover;
  display: grid;
  place-items: center;
}

#init {
  color: rgb(70, 70, 70);
  background-color: rgba(255, 255, 255, 0.3);
}

#init p {
  color: black;
  font-size: 1.5em;
}

img {
  width: 100%;
}

#navbar_sections {
  width: 100%;
}

.userImg {
  aspect-ratio: 1/1;
}

.matchLogo {
  height: 2em;
}

.btnIcon {
  height: 1em;
}

/* Index Background Video
https: //www.pexels.com/es-es/video/vista-aerea-de-un-campo-de-futbol-en-la-noche-2249402/ */