<div class="container mt-3">

    <div class="row g-0">
        <div class="col-md-4">
            <img id='userImg' src="{{user.avatar}}" alt="{{user.username}}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{user.username}}</h2>
                <hr>
                <p class="card-text">{{user.email}}</p>
            </div>
        </div>
    </div>

    <a href="/user" class="btn btn-dark">Back to list</a>

</div>